body {
  	margin: 0;
  	font-family: Arial, Helvetica, sans-serif;
}

/* top nav bar */
.topnav {
  	overflow: hidden;
  	background-color: gray;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 25px 29px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}


/* table */
table {
	margin: 5px auto;
}





/* login */
.login-page 
{
	width: 70%;
	padding: 10% 0 0;
	margin: auto;
}

.form 
{
	position: relative;
	z-index: 0;
	background: #FFFFFF;
	width: 500px;
	height: 250px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 75px 75px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	font-family: "Arial";
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 25px;
}

/*.form button*/
input[type='submit']
{
	font-family: "Arial";
	background: green;
	width : 67%;
	height: 51px;
	font-size: 20px;
	border : 0;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	color: black;
	outline: 0;
}
input[type='submit']:hover, input[type='submit']:active, input[type='submit']:focus {
	background: #43A047;
}

.show
{
	font-family: "Wide Latin";
	font-size: 73px;
	text-align: center;
}
